.wrong {
    background-color: crimson;
}

.correct {
    background-color: darkgreen;
}

.neutral {
    background-color: white;
}

h1 {
    text-align: center;
    color: red;
    padding: 10px;
    font-size: 40px;
    background-color: royalblue;
}

.hide {
    display: none;
}

#stat-bar {
    background-color: darkblue;
    color: rgb(43, 11, 1);
    font-size: medium;
    font-weight: bold;

}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: blue;
}

#p2 {
    color: red;
    font-weight: bold;
}

#start-button {
    font-weight: bold;
    font-size: large;
    text-align: center;
    
}

button {
    margin: 10px;
    color: black;
}

#question {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: blue;
}

#question-box {
    max-width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px;
}